body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.editor {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    padding: 20px 40px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
}

.view {
    flex: 1;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.82);
    color: white;
    padding: 40px;
}

.header > button {
    margin-right: 20px;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
}
